<template name="characterEditor">
  <div class="col-md-12">
    <h2>Character Editor</h2>
  </div>
  <ul class="nav nav-tabs">
    {{#each characterList}}
    <li><a href="#" class="js-character-selector__character">{{name}}</a></li>
    {{/each}}
    <li><a href="#" class="js-insert-new-character">+</a></li>
  </ul>
  <form name="characterEditor" class="character-editor col-md-3">
    <div class="row">
      <div class="form-group col-md-12">
        <label>Character Name</label>
        <input class="form-control" type="text" name="characterName" value="{{selectedCharacter.name}}"/>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label>HP</label>
        <input type="number" value="{{selectedCharacter.hp}}" class="form-control"/>
      </div>
      <div class="form-group col-md-6">
        <label>MP</label>
        <input type="number" value="{{selectedCharacter.mp}}" class="form-control"/>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label>Strength</label>
        <input type="number" value="{{selectedCharacter.strength}}" class="form-control"/>
      </div>
      <div class="form-group col-md-6">
        <label>Defense</label>
        <input type="number" value="{{selectedCharacter.defense}}" class="form-control"/>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label>Agility</label>
        <input type="number" value="{{selectedCharacter.agility}}" class="form-control"/>
      </div>
      <div class="form-group col-md-6">
        <label>Luck</label>
        <input type="number" value="{{selectedCharacter.luck}}" class="form-control"/>
      </div>
    </div>
  </form>
</template>


<template name="skillSelector">
  <form class="skill-selector col-md-5">
    <div class="row">
      <div class="form-group col-md-5">
        <label>Available Skills</label>

        <div id="js-available-skills" class="list-group">
          {{ #each availableSkill }}
          <a href="#" class="list-group-item">{{name}}</a>
          {{ /each }}
        </div>
        <button class="btn btn-default">+</button>
      </div>
      <div class="col-md-2">
        <a href="#" class="btn">&lt;</a>
        <a href="#" class="btn">&gt;</a>
      </div>
      <div class="form-group col-md-5">
        <label>Current Skills</label>
        <div id="js-selected-skills" class="list-group">
          {{ #each currentSkill }}
          <a href="#" class="list-group-item">{{name}}</a>
          {{ /each }}
        </div>
      </div>
    </div>
  </form>
</template>


<template name="skillAiEditor">
  <form class="skill-ai-editor col-md-4">
    <div class="form-group col-md-12">
      <label for="js-skill-ai-editor">Skill AI</label>
      <textarea id="js-skill-ai-editor" class="yaml-editor form-control" rows="7">{{ai}}</textarea>
    </div>
  </form>
</template>

